h1, tr {
    text-align: center;
}

h1 {
    color: navy;
    font-size: 70px;
}

tr {
    color: purple;
    font-size: 35px;
}

table {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    h1 {
      font-size: 50px;  
    }

    tr {
        font-size: 25px;
    }
}
